@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
.banner{
  position: relative;
}

.label{
  position: absolute;
  bottom: -5.5rem;
  background-color: rgba(233, 102, 41, 0.632);
  text-align: center;
  color:  snow;
  text-shadow: 1px 2px 2px black;
  font-family: 'Roboto';
}

.label h1{
  padding-top: 10px;
  font-weight: 500;
  font-size: 16px;
}

.label p{
  font-weight: 100;
  font-size: 14px;
  padding-bottom: 10px;
}

@media screen  and (min-width: 360px){
  #image img{
    height: 300px;
    object-fit: cover;
  }
 .label {
  width: 360px;
  bottom: 20px;
 }

 .label h1{
  font-size: 17px;
 }

 .label p {
  font-size: 15;
 }
}

@media screen and (min-width: 768px) {
  #image img {
      height: 400px;
      object-fit: cover;
    }
  
    .label {
      width: 500px;
      bottom: 40px;
    }
        .label h1 {
          font-size: 20px;
        }
    
        .label p {
          font-size: 18;
        }
}